.content-wrapper{
  margin: 0 1%; 
}
.card {
  border-radius: 2px;
  margin:  2rem 4rem;
  position: relative;
  width: 13%;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card > .img-container {
  width: 100%; 
  overflow: hidden;
  text-align: center;
}
.card > .img-container > img {
  width: 100%
}




